body{
  background-image: url("../img/fot02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }/*
/
/
/
clases
*/
.datos{
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  color: white;
  vertical-align: center;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 15px;
}
.informacion{
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.nota{
  font-size: 12px;
}
.parallax-container {
     height: 400px;
   }
.textos{
  background-color: rgba(187, 222, 251, 0.6);
}
/*
/
/
/
ids
*/
#galeria img{
  width: 100%;
}
#logotipo{
}
#logotipo img{
  width: 150px;
}
#pleca{
  position: fixed !important;
  height: 75px;
  width: 100%;
  z-index: -1;
}
#redesSociales li{
  list-style-type: none;
  text-align: center;
}
#slogan{
  padding-top: 2em;
  font-size: 30px;
  text-align: center;
}
/*
/
/
/
queries
*/
@media screen and (max-width: 767px){
  #logotipo img{
    width:100px;
  }
}
/*
/
/
*/
@media screen and (max-width: 580px){
  #logotipo img{
    width:100px;
  }
  #slogan{
    font-size: 20px;
    text-align: center;
  }
}
